## Core LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories
latex.out/

## Auxiliary and intermediate files from other packages
*.makefile
*.dpth
*.md5
*.auxlock

## Nomenclature
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

## Hyperref
*.brf

## Knitr
*-concordance.tex

## Beamer
*.nav
*.pre
*.snm
*.vrb

## Algorithmic
*.alg
*.loa

## Listings
*.lol

## Multibit
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

## Pax
*.pax

## Sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

## pythontex
*.pytxcode
pythontex-files-*/

## TikZ & PGF
*.dpth
*.md5
*.auxlock

## xindy
*.xdy

## xypic precompiled matrices
*.xyc

## endfloat
*.ttt
*.fff

## Latexindent
indent.log

## WinEdt
*.bak
*.sav

## Texpad
.texpadtmp

## LyX
*.lyx~

## REVTeX
*.end

## MacOS
.DS_Store

## Editor backup files
*~
*.swp
*.swo
*#
.#*

## PDF output (uncomment if you don't want to track PDFs)
# *.pdf
